{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="row">
	{% for restaurant_data in last_entries %}

    <div class="col-xs-6 col-lg-4">
      <h2>{{ restaurant_data.name }}</h2>
      {% autoescape false %}
        <p>{{ restaurant_data.last_entry }}</p>
      {% endautoescape %}
      <p><a class="btn btn-default" href="{{ restaurant_data.url }}" role="button">More &raquo;</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
    {% endfor %}
</div>

{% endblock %}
